@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@media (max-width: 1000px){
  .App-header { 
    background-color: #76453B;
    /* background-image: linear-gradient(#97a7d3, rgba(158, 43, 81, 0.959)); */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100vw;
    margin-bottom: 2em;
    text-align: center;
  }

}


.App-header { 
  background-color: #76453B;
  /* background-image: linear-gradient(#97a7d3, rgba(158, 43, 81, 0.959)); */
  min-height: 100vh;
  /* height: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100vw;
  /* min-width: 100%; */
  margin-bottom: 2em;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MiddleContent {
  display: flex;
  width: 75%;
  height: 25em;
  flex-wrap: wrap;
  /* background-color: #61dafb; */
}

body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
  height:8px;
}

body::-webkit-scrollbar-track {
  background: rgba(137, 143, 236, 0.575);       
}

body::-webkit-scrollbar-thumb {
  background-color: #F8FAE5 ;   /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

