@tailwind base;
@tailwind components;
@tailwind utilities;


/* ---------------------------------------------------------------- Header -------------------------------------------------- */
.Title {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #B19470;
    /* background-image: linear-gradient(rgba(10, 4, 95, 0.658), #411e8179); */
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    color: #F8FAE5;
    min-width: 40em;
    border-style: dotted;
    

  }

@media (max-width: 1000px){
  .Title {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #B19470;
    /* background-image: linear-gradient(rgba(10, 4, 95, 0.658), #411e8179); */
    width: 100%;
    margin-left: 0;
    padding-left: 9.5em;
    color: #F8FAE5;
    min-width: 40em;
    border-style: dotted;
    

  }

  .Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 26em;
    background-color: #43766C;
    width: 100%;
    height: 20em;
    margin-bottom: 50em;
    /* min-width: 50em; */
    padding-bottom: 2em;
    color: rgb(255, 255, 255);
    border-radius: 2em;
    justify-content: center;
    border-style: dotted;

  }

  

  .FormArea{
    display: flex;
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    max-height: 35em;
    flex-wrap: wrap;
  
  }
  .PeopleContainer{
    overflow-x: auto;
    overflow-y: auto;
    margin-top: 1em;
    height: 15em;
    padding-right: 1em;
    border-radius: 0.25em;
    background-color: #43766C;
  }

  .Person {
    display: flex;
    /* background-color: rgba(95, 112, 206, 0.726); */
    background-image: linear-gradient( #b19470, #76453B);
    width: 22em;
    min-width: 20em;
    max-width: 22em;
    margin-top: 1em;
    margin-left: 2em;
    height: 5em;
    color: #F8FAE5;
    border-radius: 1em;
    justify-content: center;
    border-style: dotted;
  }
}

  .Title h1  {
    /* background-color: aqua; */
    width: 100%;
    /* min-width: 40em; */
  }
/* ------------------------------------------- "Main Content" -------------------------------------------------- */

.Info {
  text-align: center;
  background-color: #43766C;
  /* background-image: linear-gradient(rgba(34, 6, 110, 0.808), rgba(241, 51, 51, 0.753)); */
  width: 100%;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 2em;
  /* height: 50%; */
  color: #F8FAE5;
  border-radius: 2em;
  justify-content: center;
  border-style: dotted;
  min-width: 26em;
}

.Form{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 26em;
  background-color: #43766C;
  width: 100%;
  /* min-width: 50em; */
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 2em;
  color: rgb(255, 255, 255);
  border-radius: 2em;
  justify-content: center;
  border-style: dotted;
}

/* --------------------------------------------------- Form ------------------------------------------------ */
.FormArea{
  display: flex;
  /* background-color: aqua; */
  width: 100%;
  height: 100%;
  max-height: 15em;
  /* flex-wrap: wrap; */

}



.FormAdd {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  background-image: linear-gradient(#76453B, #b19470cc);
  /* background-color: rgba(173, 184, 247, 0.534); */
  width: 22em;
  min-width: 20em;
  max-width: 22em;
  margin-top: 1em;
  margin-left: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  min-height: 20%;
  height: 40%;
  max-height: 30em;
  color: rgb(255, 255, 255);
  border-radius: 2em;
  border-style: dotted;
}

.FormSection{
  display: flex;
  margin-bottom: 0.5em;
  
}

.FormLabel {
  min-width: 5em;
  color: #F8FAE5;
}


.InputBox {
  height: 1.5em;
  width: 40%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  margin-left: 1em;
  text-align: center;
  font-weight: bold;
  color: #76453B;
}
/* -------------------------------- Form Buttons ------------------------------------ */

.buttonSection{
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
}

.AddButton {
  width: 2em;
  height: 2em;
  font-size: 1em;
  border-radius: 1em;
  align-self: flex-end;
  margin-right: 1em;
  background-color: rgba(129, 233, 155, 0.815);
  color: white;
}

.AddButton:hover{
  background-color: rgba(205, 233, 129, 0.815);
}

.removeButton {
  width: 2em;
  height: 2em;
  font-size: 1em;
  border-radius: 1em;
  align-self: flex-end;
  margin-right: 1em;
  background-color: rgba(233, 129, 193, 0.815);
  color: white;
}

.removeButton:hover{
  background-color: rgba(250, 185, 241, 0.897);
}

.FinalizeButton {
  width: 5em;
  height: 2em;
  font-size: 0.75em;
  color: #F8FAE5;
  border-radius: 2em;
  margin-top: 1em;
  margin-left: 2em;
  /* box-shadow: 1px 1px 1px 1px rgba(8, 11, 182, 0.425); */
  background-color: #76453B;
  border-style: dotted;
}

.FinalizeButton:hover{
  background-color: #F8FAE5;
  color: #76453B;
}

/* -----------------------------------------------------------  Person ----------------------------------------------------- */
.Person {
  display: flex;
  /* background-color: rgba(95, 112, 206, 0.726); */
  background-image: linear-gradient( #b19470, #76453B);
  width: 22em;
  min-width: 20em;
  max-width: 22em;
  margin-top: 1em;
  margin-left: 2em;
  height: 35%;
  color: #F8FAE5;
  border-radius: 1em;
  justify-content: center;
  border-style: dotted;
}

.PersonInfo {
  /* background-color: aqua; */
  margin-left: 0.5em;
  margin-right: 0.5em;
  min-width: 6em;
  height: 100%;
  overflow: auto;
  overflow-y: hidden;
  
}
.PersonInfo p {
  text-wrap: nowrap;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* --------------------------------------------------- Partner -------------------------------------------------- */

.Partner {
  display: flex;
  /* background-color: rgba(95, 112, 206, 0.726); */
  background-image: linear-gradient(#76453B, #B19470);
  width: 22em;
  min-width: 20em;
  max-width: 22em;
  margin-top: 1em;
  margin-left: 2em;
  height: 35%;
  color: rgb(255, 255, 255);
  border-radius: 1em;
  justify-content: center;
  border-style: dotted;
}

.PartnerInvisible {
  display: flex;
  /* background-color: rgba(95, 112, 206, 0.726); */
  background-image: linear-gradient(#76453bad, rgba(177, 148, 112, 0.521));
  width: 22em;
  min-width: 20em;
  max-width: 22em;
  margin-top: 1em;
  margin-left: 2em;
  
  height: 30%;
  color: rgb(255, 255, 255);
  border-radius: 1em;
  justify-content: center;
}

.PartnerInfo {
  /* background-color: aqua; */
  margin-left: 0.5em;
  margin-right: 0.5em;
  min-width: 6em;
  height: 100%;
  overflow: auto;
  overflow-y: hidden;
  
}
.PartnerInfoInvisible {
  /* background-color: aqua; */
  margin-left: 0.5em;
  margin-right: 0.5em;
  min-width: 6em;
  height: 100%;
  overflow: auto;
  overflow-y: hidden;
  visibility: hidden;
  
}

.PartnerInfo p {
  text-wrap: nowrap;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* ------------------------------------------- Home Page -----------------------------*/
.StartButton {
  width: 10em;
  height: 5em;
  font-size: 0.75em;
  border-radius: 2em;
  margin-top: 4em;
  box-shadow: 1px 1px 1px 1px rgba(8, 11, 182, 0.425);
  background-color: #F8FAE5;
  color: #76453B;
  border-style: dotted;
}

.StartButton:hover{
  background-color: #76453B;
  color: #F8FAE5;
}


/* --------------------------------------------------  Generic FlexBox ------------------------------- */
.FlexBox{
  display: flex;
  /* background-color: aqua; */
  width: 100%;
  height: 100%;
  max-height: 15em;
}

/*  ----------------------------------------------- Participent List ------------------------------------- */
.PeopleContainer{
  overflow-y: auto;
  padding-right: 1em;
  border-radius: 4em;
  /* background-color: aqua; */
}

.PersonInfo::-webkit-scrollbar  {
  width: 0.3em; 
  height: 0.3em;         
}

.PersonInfo::-webkit-scrollbar-track {
  background: rgba(228, 228, 228, 0);      
}

.PersonInfo::-webkit-scrollbar-thumb {
  background-color: #F8FAE5;    
  border-radius: 20px;   
}


/* ------------------------------------------------- Results ------------------------------------- */

.PeopleContainer::-webkit-scrollbar {
  width: 0.3em; 
  height: 0.3em;         
}

.PeopleContainer::-webkit-scrollbar-track {
  background: rgba(228, 228, 228, 0);      
}

.PeopleContainer::-webkit-scrollbar-thumb {
  background-color: #F8FAE5;    
  border-radius: 20px;   
}



.ResultBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 26em;
}

.ResultArea {
  text-align: center;
  background-color: #c034347c;
  width: 100%;
  margin-top: 1em;
  padding-top: 1em;
  min-width: 26em;
  padding-bottom: 2em;
  min-height: 50%;
  color: #F8FAE5;
  border-radius: 2em;
  justify-content: center;
  border-style: dotted;
}

.EmailButton {
  width: 6.5em;
  height: 3em;
  font-size: 0.75em;
  color: #76453B;
  border-radius: 2em;
  margin-top: 2em;
  box-shadow: 1px 1px 1px 1px rgba(8, 11, 182, 0.425);
  background-color: #F8FAE5;
  border-style: dotted;
}

.EmailButton:hover{
  background-color: #76453B;
  color: #F8FAE5;
}

.ResultWarning{
  display: flex;
  justify-content: center;
  margin-top: -1em;
}

/* ---------------------------------- Warnings -----------------------*/



.Warning {
  background-color: rgba(224, 74, 119, 0.753);   
  width: 50%;
  text-align: center;
  border-radius: 0.75em;
  margin-top: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Success {
  background-color: rgba(114, 231, 186, 0.753);   
  width: 50%;
  text-align: center;
  border-radius: 0.75em;
  margin-top: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
